.headspaceGivesMe {
  position: absolute;
  top: 105.3px;
  left: 28.8px;
  letter-spacing: -0.63px;
  line-height: 33px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 241px;
  height: 33px;
}
.forMe,
.sliceOfThe {
  letter-spacing: -0.63px;
  line-height: 30.6px;
  height: 30.6px;
}
.sliceOfThe {
  position: absolute;
  top: 137.7px;
  left: 28.8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 272.7px;
}
.forMe {
  top: 170.1px;
  font-size: var(--font-size-5xl-3);
  width: 78.1px;
}
.forMe,
.nadienNewMexico,
.onPrioritizingSelfCare {
  position: absolute;
  left: 28.8px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.nadienNewMexico {
  top: 320.4px;
  font-size: var(--font-size-xs-7);
  letter-spacing: -0.13px;
  line-height: 16.2px;
  color: var(--color-dimgray-100);
  width: 113.6px;
  height: 15.3px;
}
.onPrioritizingSelfCare {
  top: 344.7px;
  font-size: var(--font-size-3xs-9);
  letter-spacing: -0.11px;
  line-height: 12.6px;
  width: 112.8px;
  height: 12.6px;
}
.frameIcon {
  position: absolute;
  top: 25.2px;
  left: calc(50% - 139.5px);
  width: 67.5px;
  height: 72px;
}
.divcssS1fwqh {
  position: absolute;
  top: 246.1px;
  left: -244.8px;
  border-radius: var(--br-2xs-8);
  background-color: var(--color-whitesmoke-300);
  width: 336.6px;
  height: 383.4px;
  opacity: 0.4;
  text-align: left;
  font-size: var(--font-size-4xl-4);
  color: var(--color-darkslategray-200);
  font-family: var(--text);
}
@media screen and (max-width: 450px) {
  .forMe,
  .headspaceGivesMe,
  .sliceOfThe {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .forMe,
  .sliceOfThe {
    line-height: 24px;
  }
}
